################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.CopyComplete
*.pdb
*.dll
*.exe
*.cache
/ToDoList/bin/Debug/netcoreapp3.1
/ToDoList/obj/Debug/netcoreapp3.1/staticwebassets
/ToDoList/obj/Debug/netcoreapp3.1/ToDoList.csproj.FileListAbsolute.txt
