################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.CopyComplete
*.pdb
*.dll
*.exe
*.cache
/ToDoList/bin/Debug/netcoreapp3.1
/ToDoList/obj/Debug/netcoreapp3.1/staticwebassets
/ToDoList/obj/Debug/netcoreapp3.1/ToDoList.csproj.FileListAbsolute.txt
/MVCWebApplication/obj
/MVCWebApplication/bin/Debug/netcoreapp3.1
/.vs/LearnBlazorMvc
/MvcWebApp/bin/Debug/net5.0
/MvcWebApp/obj
/ToDoList/bin/Debug/net5.0
/ToDoList/obj
/BlazorComponent.Tests/obj
