@page "/counter"
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    // This replaces JAVASCRIPT

    // TODO move code into a C# file? 
    // TODO Unit test this code
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }

    [Parameter]
    public int IncrementAmount { get; set; } = 1;
}
