@page "/counter"
<!--The 'Page' directive at the top of the Counter.razor file specifies that the Counter component is a routing endpoint (through SINGLR circuits).
    The Counter component handles requests sent to /counter.
    Without the 'Page' directive, a component doesn't handle routed requests, but the component can still be used by other components.
    https://docs.microsoft.com/en-us/aspnet/core/tutorials/build-your-first-blazor-app?view=aspnetcore-3.1
-->
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    // This replaces JAVASCRIPT

    // TODO move code into a C# file? 
    // TODO Unit test this code
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }

    [Parameter]
    public int IncrementAmount { get; set; } = 1;
}
