@page "/splat"

<h3>SplatExample</h3>

<input id="useIndividualParams"
       maxlength="@MaxLength"
       placeholder="@Placeholder"
       required="@Required"
       size="@Size" />

<input id="useAttributesDict" @attributes="InputAttributes" />

@code {
    // The use case for splatting is when there are many knobs to turn on a component.    

    // Doing this with properties is yuck!
    [Parameter]
    public string MaxLength { get; set; } = "10";

    [Parameter]
    public string Placeholder { get; set; } = "Input placeholder text";

    [Parameter]
    public string Required { get; set; } = "required";

    [Parameter]
    public string Size { get; set; } = "50";

    // Better: Attribute Splatting
    public Dictionary<string, object> InputAttributes { get; set; } =
        new Dictionary<string, object>()
        { 
            { "maxlength", "10" },
            { "placeholder", "Input placeholder text" },
            { "required", "required" },
            { "size", "50" },
        };

}
