@page "/todo"
    <!--
        The 'Page' directive at the top of the Counter.razor file specifies that the Counter component is a routing endpoint (through SINGLR circuits).
        The Counter component handles requests sent to /counter.
        Without the 'Page' directive, a component doesn't handle routed requests, but the component can still be used by other components.
        https://docs.microsoft.com/en-us/aspnet/core/tutorials/build-your-first-blazor-app?view=aspnetcore-3.1
        See related NavLink.
    -->
    <h3>ToDo</h3>

    @code {

    }
